security:
  enable_authenticator_manager: true

  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
      algorithm: 'bcrypt'
      cost: 15

  providers:
    cidp_app_user_provider:
      entity:
        class: Coddin\IdentityProvider\Entity\OpenIDConnect\User
        property: username

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt|error)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: cidp_app_user_provider

      form_login:
        login_path: coddin_identity_provider.login
        check_path: coddin_identity_provider.login

      logout:
        path: coddin_identity_provider.logout
        target: coddin_identity_provider.login

  access_control:
    - { path: ^/admin, roles: ROLE_ADMIN }
    - { path: ^/account, roles: ROLE_USER }
    - { path: ^/identity/introspect, roles: PUBLIC_ACCESS, ips: '%env(TRUSTED_IPS)%' }
    - { path: ^/identity/introspect, roles: ROLE_NO_ACCESS }
