includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

services:
    -
        class: PHPStan\Rules\Cast\UselessCastRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
        tags:
            - phpstan.rules.rule

parameters:
    tmpDir: var/cache/phpstan
    bootstrapFiles:
        - ./phpstan-bootstrap.php
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Return type of call to method PHPUnit\\Framework\\TestCase\:\:createMock\(\) contains unresolvable type.#'
        - '#PHPDoc tag \@var for property Tests\\[a-zA-Z0-9\\\:\$]+ contains unresolvable type.#'

    level: 9

    checkMissingIterableValueType: true
