<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    testdox="true"
    forceCoversAnnotation="true"
    beStrictAboutCovers="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <file>./src/CoddinIdentityProviderBundle.php</file>
            <directory>./src/Controller</directory>
            <directory>./src/DependencyInjection</directory>
        </exclude>
    </coverage>

    <extensions>
        <extension class="Tests\Hook\BypassFinalHook"/>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="KERNEL_CLASS" value="Tests\Helper\Kernel" />
        <server name="MESSENGER_TRANSPORT_DSN" value="doctrine://default" />
    </php>
</phpunit>
