<h2>Authenticator App</h2>
<form class="space-y-6" action="{{ path('coddin_identity_provider.mfa.submit') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('mfa_authenticate') }}">

    <div>
        {{ component('idp_openid_connect.input', {
            name: 'otp',
            autofocus: true,
            message: 'account.login_mfa.value',
        }) }}
    </div>

    <div>
        <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            {{ 'account.login.submit_mfa'|trans }}
        </button>
    </div>
</form>
