{% extends '@CoddinIdentityProvider/base.html.twig' %}

{% block body %}
    <div class="min-h-full flex flex-col justify-center py-8 sm:px-6 lg:px-8">
        <div class="-mt-0">
            <div class="sm:mx-auto sm:w-full sm:max-w-lg">
                <img class="mx-auto h-12 w-auto" src="{{ asset('bundles/coddinidentityprovider/build/images/logo.svg') }}" alt="Workflow">
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    {{ 'account.login.title'|trans({'%companyName%': companyName}) }}
                </h2>
            </div>

            <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                    {% if error %}
                        <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
                            <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                        </div>
                    {% endif %}
                    <form class="space-y-6" action="{{ path('coddin_identity_provider.login') }}" method="post">
                        <input type="hidden" name="_target_path" value="/login/oidc">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div>
                            {{ component('idp_openid_connect.input', {
                                name: '_username',
                                type: 'email',
                                autofocus: true,
                                message: 'account.login.username',
                            }) }}
                        </div>

                        <div>
                            {{ component('idp_openid_connect.input', {
                                name: '_password',
                                type: 'password',
                                message: 'account.login.password'
                            }) }}
                        </div>

                        <div class="flex items-center justify-between">
                            <div class="text-sm">
                                {{ 'account.login.no_account'|trans }}
                                <a href="{{ path('coddin_identity_provider.register') }}" class="font-medium text-indigo-600 hover:text-indigo-500">{{ 'account.login.register'|trans }}</a>
                            </div>
                        </div>

                        <div class="flex items-center justify-between">
                            <div class="text-sm">
                                <a href="{{ path('coddin_identity_provider.forgotten_password') }}" class="font-medium text-indigo-600 hover:text-ingido-500">
                                    {{ 'account.password.forgotten'|trans }}
                                </a>
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                {{ 'account.login.sign_in'|trans }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
