{% extends '@CoddinIdentityProvider/base.html.twig' %}

{% block body %}
    <div class="min-h-full flex flex-col justify-center py-8 sm:px-6 lg:px-8">
        <div class="-mt-0">
            <div class="sm:mx-auto sm:w-full sm:max-w-lg">
                <img class="mx-auto h-12 w-auto" src="{{ asset('bundles/coddinidentityprovider/build/images/logo.svg') }}" alt="Workflow">
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    {{ 'account.login_mfa.title'|trans }}
                </h2>
            </div>

            <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                    {% if (mfaType === constant('Coddin\\IdentityProvider\\Entity\\OpenIDConnect\\Enum\\MfaMethod::METHOD_AUTHENTICATOR_APP').value) %}
                        {% import '@CoddinIdentityProvider/login/auth_app.mfa.html.twig' %}
                    {% elseif (mfaType === constant('Coddin\\IdentityProvider\\Entity\\OpenIDConnect\\Enum\\MfaMethod::METHOD_SMS').value) %}
                        {% import '@CoddinIdentityProvider/login/sms.mfa.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
