{% extends '@CoddinIdentityProvider/base.html.twig' %}

{% block body %}
    <div class="min-h-full flex flex-col justify-center py-8 sm:px-6 lg:px-8">
        <div class="-mt-0">
            <div class="sm:mx-auto sm:w-full sm:max-w-lg">
                <img class="mx-auto h-12 w-auto" src="{{ asset('bundles/coddinidentityprovider/build/images/logo.svg') }}" alt="Workflow">
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    {{ 'account.password.forgotten'|trans }}
                </h2>
            </div>

            <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                    <form class="space-y-6" action="{{ path('coddin_identity_provider.forgotten_password.submit') }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('forgotten_password') }}">

                        <div>
                            {{ component('idp_openid_connect.input', {
                                name: 'email',
                                type: 'email',
                                autofocus: true,
                                message: 'account.password.email',
                                helpText: 'account.password.email.help'
                            }) }}
                        </div>

                        <div class="flex items-center justify-between">
                            <div class="text-sm">
                                <a href="{{ path('coddin_identity_provider.login') }}" class="font-medium text-indigo-600 hover:text-indigo-500">
                                    {{ 'account.password.sign_in'|trans }}
                                </a>
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                {{ 'account.password.reset'|trans }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
