{% extends '@CoddinIdentityProvider/base.html.twig' %}

{% block body %}
    <div class="min-h-full flex flex-col justify-center py-8 sm:px-6 lg:px-8">
        <div class="-mt-0">
            <div class="sm:mx-auto sm:w-full sm:max-w-lg">
                <img class="mx-auto h-12 w-auto" src="{{ asset('bundles/coddinidentityprovider/build/images/logo.svg') }}" alt="Company logo">
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    {{ 'account.password.reset'|trans }}
                </h2>
            </div>

            <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                    {% set errorMessages = app.flashes(constant('Coddin\\IdentityProvider\\Request\\UserRegistration::FLASH_BAG_ERROR_TYPE')) %}
                    {% if errorMessages|length > 0 %}
                        <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
                            <p class="font-bold">{{ 'generic.validation_error'|trans }}</p>
                            {% for errorMsg in errorMessages %}
                                <p>{{ errorMsg|trans }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form class="space-y-6" action="{{ path('coddin_identity_provider.password.reset.submit', { token: resetToken }) }}" method="post">
                        <input type="hidden" name="reset_csrf_token" value="{{ csrf_token('password_reset') }}"/>
                        <input type="hidden" name="reset_token" value="{{ resetToken }}">

                        <div>
                            {{ component('idp_openid_connect.input', {
                                name: 'password',
                                type: 'password',
                                autofocus: true,
                                message: 'account.login.password',
                            }) }}
                        </div>

                        <div>
                            {{ component('idp_openid_connect.input', {
                                name: 'password_repeat',
                                type: 'password',
                                message: 'account.login.password_repeat'
                            }) }}
                        </div>

                        <div>
                            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                {{ 'account.password.reset'|trans }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
