<!DOCTYPE html>
<html class="{% block html_class %}h-full bg-blue-gray-50{% endblock %}" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Coddin IDP{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/coddinidentityprovider/build/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/coddinidentityprovider/build/app.js') }}"></script>
        {% endblock %}
    </head>
    <body class="{% block body_class %}h-full{% endblock %}">
        {% block body %}{% endblock %}
    </body>
</html>
