<h1>{{ 'email.reset_password.salutation' | trans({'%username%': username}, 'messages', locale) }}</h1>

<p>{{ 'email.reset_password.info' | trans({}, 'messages', locale) }}</p>
<p>{{ 'email.reset_password.action' | trans({}, 'messages', locale) }} <a href="{{ path('coddin_identity_provider.password.reset', {token: resetToken}) }}">{{ 'email.reset_password.button' | trans({}, 'messages', locale) }}</a></p>

<p>{{ 'email.reset_password.notice' | trans({}, 'messages', locale) }}</p>
