<h1>{{ labels.salutation }}</h1>

<p>A password reset has been requested for the user linked to this e-mail address</p>
<p>To start the reset process <a href="{{ url('coddin_identity_provider.password.reset', {token: resetToken}) }}">Click here</a></p>

<p>If it wasn't you that requested this reset you possibly need to take immediate action to secure your account.</p>
